{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="height:42px;">
                    运行日记
                    {% if log_user|length >0 %}
                        <form role="form" style="margin-left: 3px;float:right;" action="/log/delete">
                            <button type="submit" style="margin: 0px;" onclick="javascript:return confirm('确认要清空所有记录?')" class="btn btn-info btn-xs">清空日记</button>
                        </form>
                    {% endif %}
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-1">时间</th>
                                <th class="col-md-1 hidden-xs">类型</th>
                                <th class="col-md-1">分类</th>
                                <th class="col-md-1">账户</th>
                                <th class="col-md-1">详细信息</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in log_user %}
                                <tr>
                                    <td class="hidden-xs">{{ row.time|e }}</td>
                                    <td class="visible-xs">{{ row.time.split(' ')[1] }}</td>
                                    <td class="hidden-xs">{{ row.clas|e }}</td>
                                    <td>{{ row.type|e }}</td>
                                    <td>{{ row.id|e }}</td>
                                    <td>{{ row.gets|e }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block navibar %}
    <div class="col-lg-10">
        <h2>运行日记</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Log</strong>
            </li>
        </ol>
    </div>
{% endblock %}
{% set active_page = "log" %}